table {
    border-collapse: collapse;
    background: white;
    }
    td {
        border: 1px solid red;
        text-align: center;
        padding: 10px 15px;
    }
    .header {
        background: orange;
        font-weight: bold;
    }
    .diag {
        background: yellow;
    }
    .first{
        background: red;
    }